/* ////////////////////////////////////////

//  section

//////////////////////////////////////// */

// is_about_area
.is_about_area {
    @include is_layout_960_set();
    margin: 6rem auto;
    text-align: center;
    .inner {
        .is_summary_area {
            .is_ttl {
                margin-bottom: 1.5rem;
                font-size: 2.4rem;
                font-weight: 600;
            }
            .is_lead {
                font-size: 1.6rem;
            }
        }
    }
    @include mq(sp) {
        margin: 4rem auto;
    }
}

// is_menu_area
.is_menu_area {
    @include is_layout_960_set();
    margin: 6rem auto;
    text-align: center;
    .is_head_area {
        margin-bottom: 3rem;
    }
    .is_body_area {
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            @include is_box_shadow();
            a {
                display: inline-flex;
                margin-right: 2rem;
                width: 16rem;
                height: auto;
                // dummy
                height: 16rem;
                background: gray;
                border-radius: 8rem;
                &:last-of-type {
                    margin-right: 0;
                }
                img {
                    transform: scale(1);
                    &:hover {
                      transform: scale(1.1);
                    }
                }
            }
        }
    }
    @include mq(sp) {
        margin: 4rem auto;
        .is_body_area {
            ul {
                a {
                    width: 10rem;
                    //dummy
                    height: 10rem;
                    border-radius: 6rem;
                }
            }
        }
    }
}

// is_article
.is_article {
    @include is_layout_960_set();
    margin: 6rem auto;
    text-align: center;
}

// is_article > is_head_area
.is_article {
    .is_head_area {
        margin: 4rem auto;
        .is_heading {
            padding: 1rem 1.5rem;
            border-top: 2px solid $black;
            border-bottom: 2px solid $black;
            margin: 1rem 0 4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .is_category_tit {
                padding: 1rem 2rem;
                font-size: 2.4rem;
                font-weight: 600;
            }
            .is_border_left, .is_border_right {
              display: inline-flex;
              height: 4rem;
              border-left: 2px solid #000;
              transform: rotate(30deg);
            }
            .is_note {
                font-size: 1.2rem;
                font-weight: 600;
                &.left {
                    padding-top: 2rem;
                    position: relative;
                    &:after {
                        // dummy
                        content: 'Dummy Image';
                        position: absolute;
                        top: 0;
                        right: -10rem;
                    }
                }
                &.right {
                    padding-bottom: 2rem;
                    position: relative;
                    &:before {
                      // dummy
                      content: 'Dummy Image';
                      position: absolute;
                      bottom: 0;
                      left: -10rem;
                  }
                }
            }
        }
        .is_mv {
            @include is_layout_720_set();
            @include is_img_set();
            // dummy
            p {
                width: 72rem;
                height: 48rem;
                background: gray;
            }
        }
    }
    @include mq(sp) {
        .is_head_area {
            .is_heading {
                .is_border_right {
                    display: none;
                }
                .is_note {
                    &.right {
                        display: none;
                    }
                }
            }
            .is_mv {
                width: 100%;
            }
        }
    }
}

// is_article > .is_body_area
.is_article {
    .is_body_area {
        @include is_layout_720_set();
        padding-bottom: 6rem;
        border-bottom: 1px dotted $dimgray;
        margin: 4rem auto 6rem;
        &.is_bottom {
            padding-bottom: 0;
            border-bottom: none;
            margin-bottom: 8rem;
        }
        .is_topic_area {
            margin: 4rem auto;
            .is_point {
                position: relative;
                .is_center {
                    h3 {
                        margin-bottom: 3rem;
                        font-size: 2rem;
                        font-weight: 600;
                        position: relative;
                        &:after {
                            // dummy
                            content: url();
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                    p {
                        margin: 3rem auto;
                        font-size: 1.6rem;
                    }
                }
                .is_left {
                    padding-right: 3rem;
                    position: absolute;
                    top: 25%;
                    left: 25%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        .is_product_list_area {
            .is_product_heading {
                margin: 4rem 0 2rem;
            }
            .is_modal {
                .is_product_list {
                    @include is_layout_720_set();
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    &.is_col_1 {
                        width: 100%;
                    }
                    &.is_col_2 {
                        .is_product {
                              width: calc((100% - 2rem) / 2);
                              margin-right: 2rem;
                              margin-bottom: 2rem;
                            &:nth-child(2n) {
                                margin-right: 0;
                            }
                        }
                    }
                    &.is_col_3 {
                        .is_product {
                            width: calc((100% - 4rem) / 3);
                            margin-right: 2rem;
                            margin-bottom: 2rem;
                            &:nth-child(3n) {
                                margin-right: 0;
                            }
                            @include mq(sp) {
                                width: calc((100% - 2rem) / 2);
                                &:nth-child(2n) {
                                  margin-right: 0;
                              }
                            }
                        }
                    }
                    .is_product {
                        max-width: 25rem;
                        width: 100%;
                        height: auto;
                        // dummy
                        height: 25rem;
                        box-shadow: 0 3px 6px rgba(0 , 0, 0 ,0.3);
                        border-radius: 4px;
                        transition: $transition;
                        cursor: pointer;
                        @include is_img_set();
                        &:hover {
                            box-shadow: 0 1px 3px rgba(0 ,0 ,0 ,0.6);
                        }
                        .is_product_name {
                            display: none;
                        }
                        .is_product_img {}
                    }
                }
                .is_product_sub_heading {
                  margin: 4rem auto 3rem;
                  font-size: 2rem;
                  font-weight: 600;
                  color: $dimgray;
              }
            }
        }
    }
    @include mq(sp) {
        .is_body_area {
            width: 100%;
        }
    }
}
